# OpenTofu / Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Chaves e segredos
*.pem
*.key
.env

# Ansible
ansible/inventory.ini
*.retry

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
